In [1]:
# pandas -> a powefull use to open source data analysis and manipulation tool build on top of python programming language
# panda series -> It is like a coulm in a table It is 1d array of holding data of any type
import pandas as pd
import numpy as np

In [ ]:
# SERIES USING  LIST ->

In [4]:
# using default index
# seris using string
country = ['India', "America", "Japan", "China"]
pd.Series(country)

0      India
1    America
2      Japan
3      China
dtype: object

In [46]:
# seris using intergrs
runs = [21,23,55,35,90,22]
pd.Series(runs)
# runs_series.index

0    21
1    23
2    55
3    35
4    90
5    22
dtype: int64

In [36]:
# custom index
# make a seris such that marks work as index and subject as object
marks = [23,54,90,100,20]
subject = ['math', 'english', 'hindi', 'gk', 'physics']
marks_series = pd.Series(marks, index = subject)
print(marks_series)

math        23
english     54
hindi       90
gk         100
physics     20
dtype: int64

In [ ]:
# Series Attribute

In [15]:
# size

marks_series = pd.Series(marks, index=subject)
print(marks_series.size)

5

In [16]:
#dtype 
marks_series.dtype

dtype('int64')

In [17]:
#is_unique -> return true if all element are unique otherwise it return false
marks_series.is_unique

True

In [18]:
pd.Series([1,1,1,2,2,2,5,4,5,4,54,5]).is_unique

False

In [19]:
# index -> it returns the index object
marks_series.index

Index(['math', 'english', 'hindi', 'gk', 'physics'], dtype='object')

In [23]:
#values -> it return only values 
type(marks_series.values)

numpy.ndarray

In [4]:
import pandas as pd

file_path = "C:\\Users\\HP\\Desktop\\python\\subs.csv"
data = pd.read_csv(file_path).squeeze("columns")

data

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [3]:
import pandas as pd

file_path = "C:\\Users\\HP\\Desktop\\python\\kohli_ipl.csv"
virat  = pd.read_csv(file_path , index_col = 'match_no').squeeze("columns")

virat

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [4]:
import pandas as pd

file_path = "C:\\Users\\HP\\Desktop\\python\\bollywood.csv"
movies = pd.read_csv(file_path, index_col = 'movie').squeeze("columns")

movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [21]:
import pandas as pd

file_path = "C:\\Users\\HP\\Desktop\\python\\subs.csv"
subs = pd.read_csv(file_path)
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [ ]:
# head -> by defaut it will give the top 5 colums

In [5]:
movies.head(100)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
3 Storeys                                    Aisha Ahmed
Raid (2018 film)                              Ajay Devgn
Hichki                                      Rani Mukerji
Missing (2018 film)                       Manoj Bajpayee
Baaghi 2                                    Tiger Shroff
Name: lead, Length: 100, dtype: object

In [15]:
virat.tail(10)

match_no
206     0
207     0
208     9
209    58
210    30
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [ ]:
# sample > it will give you one row randomany

In [16]:
virat.sample()

match_no
82    99
Name: runs, dtype: int64

In [29]:
movies.sample()

movie
Ek Haseena Thi Ek Deewana Tha    Shiv Darshan
Name: lead, dtype: object

In [31]:
#value_count -> it will give you frequnecy of each count
movies.value_counts()

Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: lead, Length: 566, dtype: int64

In [37]:
#sort value -> it will short the value 
virat.sort_values() # _-> assending order
virat.sort_values(ascending = False) #-> desceding order
virat.sort_values(ascending = False).head(1).values[0] #-> to get the desire value we can manipulate the data
# sort values make changes temprary orginal values remains same
virat
# to make changes in orginal values
# virat.sort_values(inplace= True)

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [14]:
# sort_index-> make chnages in alphabetical value
movies.sort_index(ascending = False)
movies.sort_index(ascending = False ,inplace = True)

In [47]:
movies

movie
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Zokkomon                       Darsheel Safary
Zindagi Tere Naam           Mithun Chakraborty
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi 50-50                      Veena Malik
                                   ...
2 States (2014 film)              Arjun Kapoor
1971 (2007 film)                Manoj Bajpayee
1920: The Evil Returns             Vicky Ahuja
1920: London                     Sharman Joshi
1920 (film)                   Rajniesh Duggall
Name: lead, Length: 1500, dtype: object

In [ ]:
# Series math count

In [7]:
# count -> total number of values presenet in the series exectp  non misssing value
virat.count()

215

In [8]:
#sum->it will give sum of all vlaues
virat.sum()

6634

In [9]:
# product-> give product of all values
virat.product()

0

In [19]:
# mean -> median -> mode -> std -> var
virat.mean()
virat.median()
movies.mode() # it tell that which items is most frequent
virat.std() 
virat.var()

688.0024777222343

In [22]:
# min and max
subs.max()

Subscribers gained    396
dtype: int64

In [23]:
subs.min()

Subscribers gained    33
dtype: int64

In [25]:
 # describe -> it will give all the mathmatical function in one
subs.describe()

       Subscribers gained
count          365.000000
mean           135.643836
std             62.675023
min             33.000000
25%             88.000000
50%            123.000000
75%            177.000000
max            396.000000

In [26]:
virat.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

In [28]:
movies[0]

'Meghan Jadhav'

In [ ]:
# slicing

In [29]:
 virat[5:15]

C:\Users\HP\AppData\Local\Temp\ipykernel_94048\2216658403.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  virat[5:15]

match_no
6      9
7     34
8      0
9     21
10     3
11    10
12    38
13     3
14    11
15    50
Name: runs, dtype: int64

In [30]:
# to get last 5 maches
virat[-5 :]

C:\Users\HP\AppData\Local\Temp\ipykernel_94048\4294489383.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  virat[-5 :]

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [31]:
movies[-5:]

movie
2 States (2014 film)          Arjun Kapoor
1971 (2007 film)            Manoj Bajpayee
1920: The Evil Returns         Vicky Ahuja
1920: London                 Sharman Joshi
1920 (film)               Rajniesh Duggall
Name: lead, dtype: object

In [32]:
# fancy indexing -> if we can not find the pattern  then we can use fancy indexing 
virat[[1,3,5,7,8]]

match_no
1     1
3    13
5     1
7    34
8     0
Name: runs, dtype: int64

In [40]:
# if index is not found then it will add one more index
marks_series["sst"] = 67

67

In [42]:

marks_series["evs"] = 43

In [43]:
marks_series

math        23
english     54
hindi       90
gk         100
physics     20
sst         67
evs         43
dtype: int64

In [ ]:
# it can also done by slicing

In [49]:
runs[3:4]=[100, 29]
pd.Series(runs)

0     21
1     23
2     55
3    100
4     29
5     29
6     29
7     90
8     22
dtype: int64

In [ ]:
# Series with Python Functionalites

In [61]:
# print(len(subs))
# print(type(subs))
# print(dir(subs))
# print(sorted(virat)) ->output will be inside the list
print(min(virat))
print(max(virat))

0
113

In [62]:
#  type convertion
marks_series

math        23
english     54
hindi       90
gk         100
physics     20
sst         67
evs         43
dtype: int64

In [63]:
dict(marks_series)

{'math': 23,
 'english': 54,
 'hindi': 90,
 'gk': 100,
 'physics': 20,
 'sst': 67,
 'evs': 43}

In [64]:
#membership operator -> defult it apply in index for values you have to metion .values
movies

movie
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Zokkomon                       Darsheel Safary
Zindagi Tere Naam           Mithun Chakraborty
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi 50-50                      Veena Malik
                                   ...
2 States (2014 film)              Arjun Kapoor
1971 (2007 film)                Manoj Bajpayee
1920: The Evil Returns             Vicky Ahuja
1920: London                     Sharman Joshi
1920 (film)                   Rajniesh Duggall
Name: lead, Length: 1500, dtype: object

In [67]:
 'Vicky Ahuja' in movies

False

In [68]:
 'Vicky Ahuja' in movies.values

True

In [ ]:
# in case of looping the defalut is values