In [1]:
import numpy as np
import pandas as pd

In [2]:
a=pd.Series([1,1,1,2,2,2,3])
a.value_counts()

1    3
2    3
3    1
dtype: int64

In [6]:
marks = pd.DataFrame([
    [100,80,10],
    [90,60,7],
    [95,70,8],
    [23,4,6],
    [90,91,10]
],columns=["iq", "marks","package"])
marks

    iq  marks  package
0  100     80       10
1   90     60        7
2   95     70        8
3   23      4        6
4   90     91       10